# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.venv/
ENV/

# YOLOv8 Weights
*.pt

# Flask/Uploads
static/uploads/*
!static/uploads/.gitkeep

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
